
li .octodex {
    display: inline-block;
}

.octocat {
    display: inline-block;
    width: 325px;
    /*border-bottom: 1px solid lightgrey;*/
    padding: 20px;
}

.octodex {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 330px;
    height: 330px;
}

.image-footer {
    border-bottom: 2px solid lightgray;
    padding-bottom: 45px;
}

.image-number {
    color: lightgray;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}

.image-number:before {
   content: "#";
}

.image-caption {
    float: right;
}
.image-caption span {
    color: darkgray;
    font-weight: bold;
    /*float: right;*/
    width: 100%;
    position: relative;
    top: 10px;
}


.authors {
    float: right;
}

.authors li {
    width: 10%;
    height: auto;
    display: inline;

}
.image-footer .authors img {
    width: 30px;
    height: auto;
    border-radius: 15%;
    border: none;
    position: relative;
    top: -5px;
}

.octocat a img {
    border: 2px solid lightgray;
    border-radius: 1%;
}

.image-caption a {
    color: black;
    font-weight: bold;
    position: relative;
    top: 10px;
}

.image-caption a {
    text-decoration: none;
}

ul {
    margin-left: -36px;
}
